.products {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -3.5rem -1.5rem;
  }

  &__item {
    width: calc(100% / 3);
    padding: 3.5rem 1.5rem;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin-bottom: 1.2rem;
    width: 24.6rem;
    height: 24.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__content {
    margin-bottom: 2.4rem;
    color: #3A3A3A;
  }
  
  &__title {
    margin-bottom: .5rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 700;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  &__bottom {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__cost {
    margin-right: 1rem;
    min-width: 7.6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #3A3A3A; 
  }

  &__weight {
    margin-right: auto;
    min-width: 6rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #3A3A3A; 
  }

  &__btn {
    min-height: 4rem;
    padding: 1rem;
    min-width: 15.4rem;

    span {
      font-size: 1.6rem;
    }
  }

  &__label {
    $labelSelf: &;

    &-list {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0 -.7rem;
      display: flex;
    }

    &-item {
      padding: 0 .7rem;
    }

    &-elem {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 8.2rem;
      min-height: 3.4rem;
      font-size: 1.4rem;
      color: #fff;
      border-radius: 42px;

      #{$labelSelf}-item--orange & {
        background: #FF912C;
      }

      #{$labelSelf}-item--red & {
        background: #FF0000;
        font-weight: 700;
      }
    }
  }
}