{% if personalList %}
{% else %}
  {% set personalList = [
      {
        name: 'Юлия Иванова',
        rate: 'Пиццамейкер',
        text: 'Здесь будет распологаться информация 
        про Юлю пиццемейкер, и про любого 
        другого сотрудника вашего 
        замечательного заведения. Здесь будет 
        распологаться информация про Юлю 
        пиццемейкер, и про любого другого 
        сотрудника вашего замечательного 
        заведения.',
        img: 'personal-item-1.jpg'
      },
      {
        name: 'Алексей Петров',
        rate: 'Пиццамейкер',
        text: 'Здесь будет распологаться информация 
        про Юлю пиццемейкер, и про любого 
        другого сотрудника вашего 
        замечательного заведения. Здесь будет 
        распологаться информация про Юлю 
        пиццемейкер, и про любого другого 
        сотрудника вашего замечательного 
        заведения.',
        img: 'personal-item-2.jpg'
      },
      {
        name: 'Светлана Климова',
        rate: 'Пиццамейкер',
        text: 'Здесь будет распологаться информация 
        про Юлю пиццемейкер, и про любого 
        другого сотрудника вашего 
        замечательного заведения. Здесь будет 
        распологаться информация про Юлю 
        пиццемейкер, и про любого другого 
        сотрудника вашего замечательного 
        заведения.',
        img: 'personal-item-3.jpg'
      },
    ] %}
{% endif %}

<div class="personal">
  <div class="container">
    <h2 class="personal__title">
      Наши сотрудники:
    </h2>
    <ul class="personal__list">
      {% for item in personalList %}
        <li class="personal__item">
          <div class="personal__img">
            <img src="../../../assets/img/content/{{item.img}}" alt="">
          </div>
          <div class="personal__name">
            {{item.name}}
          </div>
          <div class="personal__rate">
            {{item.rate}}
          </div>
          <div class="personal__text">
            {{item.text}}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>