.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgba(#000, 0.2);
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 3rem);
    width: calc(100vw - 3rem);
    overflow: auto;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }
}

.popup-night {
  &__wrapper {
    padding: 1.5rem 0 2.3rem;
    max-width: 47.7rem;
    max-height: 31.6rem;
  }

  &__img {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title {
    margin-bottom: 0.4rem;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #70BC0B;
  }

  &__text {
    margin-bottom: 2.2rem;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #3A3A3A;
  }

  &__btn {
    min-height: 4.1rem;
    min-width: 13.7rem;
    padding: 1.4rem;
    font-size: 1.1rem;
  }
}

.popup-thanks {
  &__wrapper {
    padding: 2.5rem 0 2.4rem;
    max-width: 38.4rem;
    max-height: 28.1rem;
  }

  &__img {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title {
    margin-bottom: 1.1rem;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
    color: #70BC0B;
  }

  &__text {
    margin-bottom: .6rem;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #3A3A3A;
  }

  &__number {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FF7A00;
  }
}

.popup-map {
  &__wrapper {
    position: relative;
    max-width: 111.4rem;
    max-height: 62.9rem;

  }

  &__map {
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }

    .ymaps-2-1-74-traffic {
      display: none;
    }
  }

  &__layover {
    position: absolute;
    right: 5.4rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.3rem;
    max-width: 37.6rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FFFFFF;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 6px;
    pointer-events: none;
  }
}

.popup-login {
  &__wrapper {
    padding: 1.2rem 2rem 1.8rem;
    max-width: 26.7rem;
    max-height: 16.1rem;
    text-align: center;
  }

  &__input {
    margin-bottom: 1.2rem;
  }

  &__btn {
    width: 100%;
    height: 4.1rem;

    span {
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
}

.popup-code {
  &__wrapper {
    padding: 1.2rem 2rem 1.8rem;
    max-width: 26.7rem;
    max-height: 19.4rem;
    text-align: center;
  }

  &__input {
    margin-bottom: 1.2rem;
  }

  &__checkbox {
    margin-bottom: .8rem;
  }

  &__btn {
    width: 100%;
    height: 4.1rem;

    span {
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
}

.popup-personal {

  &__wrapper {
    position: relative;
    align-items: flex-start;
    padding: 1.5rem 2rem .8rem 2.2rem;
    max-width: 48.3rem;
    max-height: 48.1rem;
    text-align: left;
    color: #3A3A3A;
  }

  &__title {
    margin-bottom: 0.9rem;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  &__about {
    &-list {
      margin: -.2rem 0 1.2rem;
    }

    &-item {
      padding: .2rem 0;
    }

    &-key {
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    &-value {
      font-size: 1.8rem;
      line-height: 2.1rem;

      &--color {
        color: #FF7A00;
      }
    }
  }

  &__header {
    display: flex;
    margin-bottom: 1.1rem;
    font-size: 1.4rem;
    line-height: 1.6rem;

    &-name {
      width: 6rem;
      margin-right: 15.1rem;
    }
  }

  &__list {
    margin: -1.2rem 0;
    width: 100%;
  }

  &__item {
    padding: 1.2rem 0;
    border-bottom: 1px solid #EEEEEE;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__line {
    display: flex;
  }

  &__date {
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #FF7A00;
  }

  &__name {
    margin-right: 1.4rem;
    width: 20rem;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.4rem;

    ul {
      margin: -.2rem 0;

      li {
        padding: .2rem 0;
      }
    }
  }

  &__cost {
    margin-right: auto;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  &__btn {
    height: 2.6rem;
    padding: .7rem 1.2rem;

    span {
      font-size: .9rem;
    }
  }
}

.popup-cart {

  &__wrapper {
    position: relative;
    align-items: flex-start;
    padding: 1.4rem 1.7rem 2.3rem 2.2rem;
    max-width: 48.3rem;
    max-height: 103.9rem;
    text-align: left;
    color: #3A3A3A;
  }

  &__title-main {
    margin-bottom: 2.1rem;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  &__title {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  &__order {
    &-header {
      display: flex;
      justify-content: space-between;
      padding-right: .5rem;
      margin-bottom: 0.9rem;
    }

    &-text {
      font-size: 1.4rem;
    }

    &-list {
      margin: -1.6rem 0 -1.1rem;
    }

    &-item {
      padding: 1.6rem 0 1.1rem;
      border-bottom: 1px solid #A0A0A0;
    }

    &-wrapper {
      display: flex;
    }

    &-img {
      margin-right: 1.1rem;
      padding-top: .4rem;
      width: 6.2rem;
      height: 6.2rem;
      flex-shrink: 0;
    }

    &-content {
      margin-right: 3.2rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    &-name {
      font-weight: bold;
    }

    &-counter {
      padding-top: 1.2rem;
      margin-right: 2.5rem;
      width: 8rem;
    }

    &-cost {
      padding-top: 1.7rem;
      font-weight: 500;
      font-size: 1.2rem;
      flex-shrink: 0;
    }
  }

  &__free {
    width: 43rem;
    margin: 6.6rem 0 0;
    overflow: hidden;

    &--box {
      padding-top: 2.3rem;
      margin: 0;
    }

    &-box {
      margin-bottom: 1.7rem;
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    &-layover {
      position: relative;
      margin: 0 0 1.3rem;
      padding: .7rem 1.2rem;
      max-width: 18.9rem;
      font-weight: 500;
      font-size: .9rem;
      line-height: 1.1rem;
      color: #FFFFFF;
      background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
      border-radius: 6px;
    }

    &-down {
      position: absolute;
      bottom: -1.2rem;
      left: 2.5rem;
      width: 2rem;
      height: 2rem;
    }

    &-slider {
      position: relative;
      width: 30.1rem;
    }

    &-list {
      display: flex;
    }

    &-card {
      display: flex;
      width: 14.3rem;
      height: 100%;
      padding: .7rem 1.7rem .7rem .7rem;
      min-height: 7.7rem;
      border: 1px solid rgba(94, 94, 94, 0.36);
      border-radius: 9px;
    }

    &-img {
      flex-shrink: 0;
      margin-right: .7rem;
      width: 5.5rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-content {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-name {
      font-size: .9rem;
      line-height: 1.1rem;
    }

    &-btn {
      width: 5.8rem;
      height: 1.9rem;
      font-size: 1rem;
      padding: .4rem;
    }
  }

  &__sause {
    width: 43rem;
    margin: 2.3rem 0 0;
    overflow: hidden;

    &-slider {
      position: relative;
      width: 41.2rem;
    }

    &-list {
      display: flex;
    }

    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 7.2rem;
      height: 100%;
      padding: 1.2rem .3rem .7rem;
      min-height: 7.7rem;
      border: 1px solid rgba(94, 94, 94, 0.36);
      border-radius: 9px;
    }

    &-img {
      flex-shrink: 0;
      margin-bottom: .7rem;
      width: 4.2rem;
      height: 4.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-name {
      margin-bottom: 0.9rem;
      font-size: 1rem;
      line-height: 1.1rem;
    }

    &-btn {
      width: 5rem;
      height: 1.9rem;
      padding: .2rem .4rem;
      
      span {
        font-size: 1rem;
        line-height: 100%;
      }
    }
  }

  &__promo {
    padding-top: 2.2rem;

    &-form {
      display: flex;
      margin-top: 1.3rem;
    }

    &-input {
      max-width: 16.8rem;
      height: 3.2rem;
      margin-right: 0.8rem;

      input {
        height: 100%;
      }
    }

    &-btn {
      min-width: 8.8rem;
      height: 3.2rem;

      span {
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }

  &__bonus {
    display: flex;
    align-items: flex-start;
    width: max-content;
    max-width: 28rem;
    padding: .8rem 1rem 1rem;
    margin-top: 3.2rem;
    border: 1px solid rgba(94, 94, 94, 0.36);
    border-radius: 5px;

    &-checkbox {
      margin-right: 1rem;

      .checkbox__wrapper {
        width: 1.1rem;
        height: 1.1rem;
        margin-right: 0;
        border-radius: 2px;

        svg {
          width: .8rem;
          height: .6rem;
        }
      }
    }

    &-title {
      margin-bottom: 0.1rem;
      font-size: 1rem;
      line-height: 1.2rem;
    }

    &-text {
      font-size: .8rem;
      line-height: .9rem; 
      color: #8C8C8C;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

    &-text {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    &-orange {
      font-weight: 700;
      color: #FFB800;
    }

    &-btn {
      height: 3.1rem;
      min-width: 11.5rem;
      font-size: 1rem;
    }
  }

}

.popup-address {
  $selfAddress: &;

  color: #3A3A3A;

  &__wrapper {
    align-items: flex-start;
    position: relative;
    max-width: 48.3rem;
    max-height: 36.2rem;
    padding: 2rem 2rem 2.4rem 2.6rem;
  }

  &__title {
    margin-bottom: 1.4rem;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  &__checkbox {
    align-items: center;
    margin-bottom: 1.4rem;

    .checkbox__wrapper {
      width: 2.5rem; 
      height: 2.5rem;
      margin-right: 0.7rem;
    }
    
    .checkbox__text {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -.6rem -.8rem;
  }

  &__item {
    flex-shrink: 0;
    padding: .6rem .8rem;
  }

  &__input {
    width: 9.5rem;

    #{$selfAddress}__item--long & {
      width: 22.6rem;
    }

    &--left {
      .input__placeholder {
        left: 1.8rem;
        transform: none;
        width: auto;
      }
    }

    .input__placeholder {
      font-size: 1.4rem;
    }

    .input__input {
      border-radius: 8px;
    }
  }

  &__btn {
    margin-top: 1.1rem;
    min-height: 4.1rem;
    min-width: 13.7rem;
    padding: 1.4rem 1.2rem;
    
    span {
      font-size: 1.1rem;
    }
  }
}

.popup-delivery {
  &__wrapper {
    max-width: 48.3rem;
    max-height: 67.2rem;
    align-items: flex-start;
    padding: 2rem 3.1rem 2.5rem 2.5rem;
    color: #3A3A3A; 
  }

  &__title {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  .checkbox {
    align-items: center;

    &__wrapper {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 0.7rem;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }

  .input {

    &__input {
      border-radius: 5px;
    }

    &__placeholder {
      font-size: 1.4rem;
    }
  }

  &__input-name {
    width: 22.6rem;
    margin: 1.3rem 0;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  &__input-time {
    width: 18.1rem;
    margin: 0.5rem 0 3.1rem;
  }

  &__layover {
    position: relative;
    width: 100%;
    min-height: 4.4rem;
    padding: 1.4rem 1.9rem;
    margin: 1.9rem 0 3.1rem;
    text-align-last: left;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #FFFFFF;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 6px;
  }

  &__icon {
    position: absolute;
    bottom: 0;
    right: 1.5rem;
    width: 3.4rem;
    height: 3.3rem;
  }

  &__check {
    &-list {
      margin: -.4rem 0 1rem;
    }

    &-item {
      padding: .4rem 0;
    }
  }

  &__input {
    $inputSelf: &;

    &-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 25rem;
      margin: -.6rem -.7rem;
    }

    &-item {
      padding: .6rem .7rem;
    }

    &-input {
      width: 12.7rem;

      #{$inputSelf}-item--long & {
        width: 22.6rem;
      }

      #{$inputSelf}-item--short & {
        width: 8.6rem;
      }
    }
  }

  &__checkbox {
    margin-top: 2.5rem;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.7rem;
  }

  &__btn {
    height: 4.1rem;
    min-width: 13.7rem;
    padding: 1.4rem;
    font-size: 1.1rem;

    &--transparent {
      .btn__text {
        color: #3A3A3A;
      }
    }
  }
}