<div class="popup popup-thanks js-popup js-popup-thanks">
  <div class="popup__wrapper popup-thanks__wrapper">
    <div class="popup-thanks__img">
      <img src="./assets/img/content/popup-thanks.jpg" alt="thanks">
    </div>
    <div class="popup-thanks__title">
      Спасибо, Ваш <br>
      заказ принят!
    </div>
    <div class="popup-thanks__text">
      Мы свяжемся с вами для подтверждения заказа. <br>
      Если мы не перезвонили в течении 10 минут, <br>
      позвоните нам по номеру: 
    </div>
    <a href="tel:+79782278108" class="popup-thanks__number">
      +7(978) 227-81-08
    </a>
  </div>
</div>