<div class="popup popup-photo js-popup-scale">
  <div class="popup__wrapper popup-photo__wrapper">
    <div class="popup-photo__wrapper-img">
      <img src="assets/img/content/akado0.png" alt="photo" class="popup-photo__img">
    </div>
    <span class="js-text popup-photo__text">
      Текст
    </span>
  </div>
</div>